anyio==3.5.0
asgiref==3.5.0
click==8.1.2
colorama==0.4.4
fastapi==0.75.1
h11==0.13.0
idna==3.3
MarkupSafe==2.1.1
pydantic==1.9.0
python-dotenv==0.20.0
PyYAML==5.4.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.15.0
watchgod==0.8.2
websockets==10.2
